<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">

p {
	
	text-decoration-style: bold;
	
}
.row1 {
	margin-top: 20%;
}


.center {
	padding: 10%, 40%, 70%, 40%;
}

#j {
	margin-top: 5%;
	margin-left: 48%;
}

#f {text-align: center;}


body {
	background-color: yellow;
}

.hdn {
	visibility: hidden;
}

.modal-body {
	background-color: blue;
}
#one {
	color: white
}
</style>


<meta name="viewport" content="width= device-width, initial-scale=1"/> 

{% block title %}<title>{{tit}}</title>{% endblock %}
</head>

<body onload="go()">



<div class="row1">
<div class="col-sm-4" id = "e">
</div>
<div class="col-sm-4" id = "f"> 
<form id="yipform" name="yipform" class="center" method="post" action="/yip">
{% csrf_token %}
<p><h2>ZOOMSPORTSPOOL</h2></p>
<input "type"=text name= "pass" id= "i">
<input type="submit" id="y">
</form>
<h3>Login Required</h3>
</div>
<div class="col-sm-4" id = "g">
</div>
</div>

<div class= "row">
<div class="col-sm-4" id = "h">
</div>
<div class="col-sm-4" id = "j">

</div>
<div class="col-sm-4" id = "k">
</div>
</div>

<input type="text" id="mode" value="{{verdict}}" class = "hdn">










<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="pmodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Wrong Password</h4>
        </div>
        <div class="modal-body">
          <p id = 'one'>We're sorry. The password you entered was incorrect.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>  
</div>


</body>
<script>

var h = document.getElementById("mode").value;



function go() {
	if (h == 'fail') {
		$("#pmodal").modal();
	}
}




</script>

</body>
</html>