<!DOCTYPE HTML>
{% load staticfiles %} 
<html  lang="en">
<head>
<meta charset="utf-8"/>
<title>Nav1</title>



{% block Nav1 %}
<div class="panel panel-default"><div class="panel-body"  id = "p99"><nav id ="nav1"><ul id="p100"><strong><li id ="somelid"><a href="/J">HOME</a></li></strong><strong><li id ="about"><a href="/A">MORE INFO</a></li></strong><strong><li id = "login"><a href= "/L" >PLAYER LOG-IN<a/></li></strong><strong><li id = "contact"><a href ="/C">CONTACT US</a></li></ul></nav></div></div>
{% endblock %}    




