<head>
 <!DOCTYPE HTML>
 {% extends "__base.html" %}
 
<html  lang="en">
<head>
<meta charset="utf-8"/>





<link rel="stylesheet" href="../static/chosen.css"/> 
<link rel="shortcut icon" href= "../static/Zfav.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href= "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel= "stylesheet">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></p>


{% block morestyle %}
<style>
#description{
	height: 3800px;
	background-color: white;
	overflow: visible; 
	font-size: 1.00em;
}



@media only screen and (max-width:30em) {

h4{
	font-family: arial;
	font-size: 3vw;
	background-color: white;
	overflow: visible; 
}

#description{
	height: 3800px;
	background-color: white;
	overflow: visible; 
}


}



@media only screen and (max-width:1200px) {
#description{
	height: 3800px;
	background-color: white;
	overflow: visible; 
}

footer {
	display: none;
}


}

</style> 
{% endblock %}
</head>

<body>
{% block title %}{{tit}}{% endblock %}
<!-- <div class= "col-sm-2" id = "a"></div> -->
{% block More %}
<div class="container" id = "description" >
<div class= "col-sm-12" >
 
<h2>ZOOMSPORTSPOOL<h2>
<h3><strong>What This Site Is</strong><h3>
<h4><p id = "mz" style= "font-family: arial, font-size: 16px;">25 Squares Football by Zoomsportspool, is a squares-pool
engine for running football pools. If you want to run and manage a football pool, sign up, and direct your clients to this site.
Here you can offer, 25 square sports pools for college, pro, or other custom football games. It's easy, and a great way to
entertain co-workers and friends, or anybody, who enjoys sporting events.</p></h4>
<h3><strong>How It Works</strong></h3>
<h4><p>After subscribing, manager/sponsers are free to refer their clients to this site to participate in football squares
pools, that managers set up for pro, college, and other football games. The style of squares pool is 25 squares only.
Also, although anyone can register as a player or manager, the use of the site is for registered players and managers only.
It's easy. Just complete the form, and you're registered to sponser football pools, with invited participants that you
provide with your own custom access code. The client/players are those you invite, only, and the site charges them no fee.
<p></h4>
<h3><strong>Set Up Games In Advance</strong></h3>
<h4><p>As a manager, sign-in with your user name and password. Then, from your own personal dashboard, set up pro, college, or 
"custom" games in advance. Notify your clients of the squares pool, and provide them with an access code, pre-determined by you. 
You can set up as many as ten games, at once, that you moniter from your "Game-grid Display Panel". Here, you can moniter squares
selection, and player participation, by viewing active grids before game date.<p></h4>
<h3><strong>Terms Determined By You</strong></h3>
<h4><p>You, the manager, are responsible for setting the "terms" ahead of time. For example, price per square, minimum
square purchase, maximum square purchase, payoff per quarter, half, and final score, etc. You also are responsible for
contacting clients, before and after game. On midnight before game date, the squares pools close, and further selection
of squares is not permitted. Then, the random row/column numerals that were assigned at game creation, are displayed on
the squares grid. This display will be viewable as a "closed game" on the game date and day after game date.
<h3><strong>Players Notified By You</strong></h3>
<h4><p>You, the manager, are responsible for notifying players of results, and winners of the pool, etc. This site does
not contact players and leaves the resolution of results totally to the managers. The site does maintain an "Archive"
of expired, past games, that players and managers may access with their access code. The players are permitted access only to those
games covered by that access code that gave access to the game originally, and cannot access games they were not eligible
to participate in when the games were active. Managers may access only those games sponsored by them. Also an "Index" is 
available to Managers that enables contact information of players who bought squares, so that Managers may notify winners
and communicate other needed information.
<h3><strong>Player Access</strong></h3>
<p><h4>As mentioned before, players are furnished a unique access code, determined by you, which takes them to your "Games Available Page".
You can control which players have access to which games by creating multiple access codes. Different codes for different games. Once
at the Games Available Page, players review terms and select which games to play by clicking "View" for that game. This makes
visible the game Grid. Players then point and click their squares. Click "Submit". Then click "Save", and that completes the
squares selection process. Afterwards, players may visit the Games Available Page, and game Grid, to view the column and row 
random numbers, which are revealed when the game closes on midnight before Game Date.</h4></p>
<h3><strong>Selecting Squares</strong></h3>
<p><h4>Once at a Manager's Games Available Page, a Player may view games designated "Closed", "Full", or "Open" for College, and Pro games
that were set up by the Manager. If a game is open, a Player may view the grid, then select squares by point-and-click. Once the selection
of squares are saved, the Player's user name appears on the grid. At midnight before the Game Date, the game grid is "closed" and the random 
Column/Row numbers are revealed. At this point, further selection of squares is not permitted. 
Winners are determined based on game score, and Managers are responsible for notifying Players of results. 
<h3><strong>How To Become A Manager And Join</strong></h3>
<h4><p>To become a Squares Pool Manager and use this site to run your own Squares Pools, navigate back to the home page, and
press the 'Sign Up' button at The bottom of the page. Fill out the easy form, and that's it. Familiarize yourself with the 
site by taking advantage of the two free grids with purchase introductory deal. Tell your friends, and instruct them how to select 
squares and play. Playing Squares Pools on game day is a great way to add excitement to any football game. Basketball games 
can be played as well. Use the 'Custom Fields' on the Dashboard for all pro basketball teams.</p></h4> 

<br>

<br>
<h4><p>...March 2018</p></h4>



<!-- <button id = "yoli" style = "height: 5px width: 5px";> ></button> -->

</div>
<footer>
<div class="panel panel-default" style= "height: 350px; width: 100%; margin-top: 135%; background-color: black">
  <div class="panel-body" style= "color: white;">ZOOMSPORTSPOOL  alt rights reserved</div>
</div>
</footer> 
</div>




<!-- <div class= "col-sm-2" id = "c"></div> -->

{% endblock %}

</body>
{% block javascript %}
<script>



var dog = document.getElementById("yoli");
var cat = document.getElementById("space");


if(dog.addEventListener) {dog.addEventListener("click", dip, false);
			 }  
			 else if(dog.attachEvent) { 
			  dog.attachEvent("onclick", dip);  
			 } 

/*function dip()  {
	window.alert("shooby do");
	cat.value = "murder"
}*/




/*function Dog() {
	var d = document.getElementById("tit")
	if (d == null) {
		var s = document.getElementById("contact");
		s.innerHTML = "CONTACT US"}
		
}
window.onload = Dog();*/
</script>	
{% endblock %}