<!DOCTYPE HTML>
{% load staticfiles %} 
<html  lang="en">
<head>
<meta charset="utf-8"/>
<title>Nav1</title>

</head>



<body>






{% block Nav1 %}
<div class="panel panel-default"><div class="panel-body"  id = "p999"><nav id ="nav1"><ul id="p100"><strong><li id ="uu9"><a href="/J" class = "nativehm;" id = "nativehm;">HOME</a></li></strong><strong><li id ="vv9"><a href="/A" class = "nativemr;">ABOUT</a></li></strong><strong><li id = "ww9"><a href= "/L" class = "nativeli;">PLAYER LOG-IN<a/></li></strong><strong><li id = "xx9"><a href ="/C" class = "nativect;">CONTACT</a></li></strong></ul></nav></div></div>
{% endblock %}    




