<!DOCTYPE HTML>
{% load staticfiles %} 
<html  lang="en">
<head>
<meta charset="utf-8"/>
<title>Nav2</title>
<style>

</style>

{% block Nav2 %}
<div class="panel panel-default"><div class="panel-body" id = "p999"><nav id ="nav2"><ul id="p100"><strong><li id ="uu9"><a href="/J" class= "nativehm;"  id = "nativehm;">HOME</a></li></strong><strong><li id ="vv9"><a href="/A" class= "nativemr;" >ABOUT</a></li></strong><strong><li id = "ww9"><a href= "/L" class= "nativeli;">PLAYER LOG-IN<a/></li></strong><strong><li id = "xx9"><a href ="/C" class= "nativect;" >CONTACT</a></li></strong><strong><li id = "yy9"><a href="/e" id = "zebra">GAMES AVAILABLE PAGE</a></li></strong></ul></nav></div></div>;
{% endblock %} 



