<!DOCTYPE HTML>
{% load staticfiles %} 
<html  lang="en">
<head>
<meta charset="utf-8"/>
<title>Nav4</title>







{% block Nav4 %}
<div class="panel panel-default"><div class="panel-body"  id = "p999"><nav id ="nav4"><ul id="p100"><strong><li id ="uu9"><a href="/J">HOME</a></li></strong><strong><li id ="vv9"><a href="/A">ABOUT</a></li></strong><strong><li id = "ww9"><a href= "/b" >DASHBOARD<a/></li></strong><strong><li id = "xx9"><a href ="/C">CONTACT</a></li></strong><strong><li id = "yy9"><a href=  "/Q" method ="post">ARCHIVE</a></li></strong><strong><li id = "zz9"><a href=  "/N" method ="post";> INDEX</a></li></strong></ul></nav></div></div>
{% endblock %} 