<!DOCTYPE HTML>
<html lang="en">
 <head>
<meta charset="utf-8"/>
<meta name="viewport" content="width= device-width, initial-scale=1">
<link rel="shortcut icon" href="../static/Zfav.ico" />
<title>ResponsiveGrid</title>
</head>

{% block 'ResponsiveGrid.html' %}
<style type="text/css">
	#respmenu{

    font-family:Arial;
    font-size:12px;
	font-style: bold;

}
</style>
<body>





<container id="ikea">
<div id="levitz">
    <ul>
        <!-- <li><strong><a href="#">Submit</a></strong> -->
			<!-- <li> -->
				<strong><li><a a href = "#" id = "subselect">Submit Selections<a/></li></strong>
			<!-- </li> -->
		<!-- </li> -->
        <!-- <li><strong><a href="">Save</a></strong>
			<ul> -->
			    <strong><li><a href = "#" id = "saveselect">Save Selections</a></li></strong>
			<!-- </ul> -->
		<!-- </li> -->
		 <!-- <li><strong><a href="">Menu</a></strong> -->
	</ul>
	<ul>
			<strong><li><a href="/e" id = "zebra">Games Available Page</a></li></strong>
			<strong><li><a href="/V">Archive</a></li></strong>
			<strong><li><a href="/J">Home</a></li></strong>
			<strong><li><a href="/L">Player Login</a></li></strong>
			<strong><li><a href="#">Instructions</a></li>

	</ul>
				<li><p>--------------------------------

				1). Point and Click to Select Your Squares.

				2). Select All Your Squares Before Submitting.

				3). Hover Over The 'Submit' Link Until It Becomes Red Then Click the Red 'Submit' link.

				4). Hover Over The 'Save' Link Until It Becomes Red Then Click the Red 'Save' link.

				5). Navigate to Your Desired Page. Or, Logout.</p></li>
			
			
    	
    
</container>
{% endblock %}
</body>
</html>