<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">




 
 <!-- <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>  -->

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>  --> 
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
  -->

<script src="../static/datetimepicker-master (1)/datetimepicker-master/jquery.js"></script> 

<script src="../static/datetimepicker-master (1)/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>



<link rel="stylesheet" type="text/css" href="../static/datetimepicker-master (1)/datetimepicker-master/build/jquery.datetimepicker.min.css"/ >
	
<style>
</style>
	
</head>



























<body>

<!-- <input type="text" id="date_manual" placeholder = "Enter Game Date" value=""> 
<input type="button" id="btn_manual_hide" value="Submit"> -->


<input type="text" id="dates" value="">



<input type="text" value="" id="datetimepicker"/><br><br>



<!-- <input type="text" value="" id="combodate"/> -->









</body>

<script>

 // jQuery('#datetimepicker').datetimepicker();

jQuery('#datetimepicker').datetimepicker({
  format:'Y m d  H:i',
  inline:false,
  lang:'eng',
  step:15, 
});








</script>
</html>  






































 



</html>
















