 td { 
		    font-family: Calibri;
	        border: solid 2pt  black;
	        height: 5vw; 
			font-weight: Bold; 
			font-size: 5vw;
		    text-align:center;
			padding-top: 0px;
			padding-bottom: 0px; 
			background-color:  #088A68;
			}	 